* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-color: #F3FFC6;
}
.touch-device {
    .webgl {
        width: 75%;
    } 
    kbd {
        width: 25%;
        min-width: calc(3 * 80px);
    }  
}
.non-touch-device {
    .webgl {
        width: 100%;
    }
    kbd {
        display: none;
    }
}
.webgl,
kbd {
    position: fixed;
    outline: none;
    height: 100%;
}
.webgl {
    top: 0;
    left: 0;
    z-index: -1;
}
kbd {
    top: 0;
    right: 0;
    align-content: center;
    text-align: center;
    padding-top: 3rem;
    button {
        padding: 1rem 0.75rem;
        background-color: transparent;
        border: none;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: transparent;
}
ul {
    display: flex;
    list-style-type: none;
    justify-content: end;
}
li {
    padding: 0.5rem;
    .fa-regular {
        opacity: 0.25;
    }
}
i {
    color: #B6174B;
}
div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #F3FFC6;
    text-align: center;
    align-content: center;
    h2 {
        padding: 1rem;
    } 
    button {
        margin: 1rem;
        padding: 0.5rem;
        background-color: hsl(340, 78%, 20%);
        color: #F3FFC6;
        font-weight: bold;
        border: none;
        border-radius: 0.75rem;
    } 
    button[autofocus]:focus,
    button:focus {
        background-color: #B6174B;
    }   
}  

@media (min-width: 600px) and (min-height: 600px) {
    div {
        padding-inline: calc((100% - 600px) / 2);
    }
}

